@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BloggK.Models.ViewModels.AddTagRequest

@{
	ViewData["Title"] = "Admin - Tag Manager";
}

<div class="container">
    <h2>Add Tag - Admin feature </h2>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name Tag</label>
            <input type="text" class="form-control" id="name" placeholder="Name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="displayName" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" placeholder="Display Name" asp-for="DisplayName">
        </div>
        <button type="submit" class="btn btn-dark w-25 mt-1">Submit</button>
    </form>
</div>